<div class="room__lobbys">
	<div *ngFor="let lobby of lobbys"
			 class="lobby">
		<div class="lobby__header">
			<button class="btn btn--copy">
				<fa-icon [icon]="faCopy"></fa-icon>
			</button>
			<button class="btn btn--sign-in">
				<fa-icon [icon]="faSignInAlt"></fa-icon>
			</button>
		</div>

		<div class="lobby__body">
			<p class="lobby__text">#{{ lobby.id }} - {{ lobby.title}}</p>
			<strong class="lobby__text lobby__text--bold">{{ lobby.mode }}</strong>
		</div>

		<div class="lobby__footer">
			<p class="lobby__text">{{ lobby.map }}</p>
			<p class="lobby__text">{{ lobby.current }}/{{ lobby.max}}</p>
			<progress class="progress-bar progress-bar--lobby"
								[value]="getPercentage(lobby.current, lobby.max)"
								max="100"></progress>
		</div>
	</div>
</div>
