// Fonts
$font-title: "Teko", sans-serif;
$font-text: "Poppins", sans-serif;

// Main Colors
$white: #ffffff;
$white-darker: rgba(255, 255, 255, 0.05);
$blue-summer-sky: #2c97de;
$yellow-old-gold: #ddbc39;
$green-citrus: #95b200;
$green-darker: #92aa00;
$red-alizarin: #fc3537;
$red-cinnabar: #eb2f2f;
$purple: #a58bff;

// Functional colors
$text-color: $white;

$bg-header: #272940;
$bg-body: #27293c;
$bg-footer: #222538;
$border-color: #333548;

$color-success: $green-darker;
$color-warning: $yellow-old-gold;
$color-danger: $red-alizarin;
$color-cta: $green-citrus;

// Only used 1 time
$id-color: #7c7da3;
$download-text-color: #b6b8c6;
$marker-color: #6ea1e7;
$purple-heart: #5c3abd;
$light-sky-blue: #77dbff;

// Size variables
$padding-mobile: 5vmin;
$header-height: 95px;

$screen-mobile: 576px;
$screen-tablet: 768px;
$screen-tablet-landscape: 992px;
$screen-desktop: 1200px;
$screen-desktop-lg: 1600px;

$transition-default: all 200ms ease-in-out;
