<div class="server">
	<div class="server__info server__info--online">
		<h5 class="server__title">{{ playersOnline && playersOnline }}</h5>
		<div class="">
			<p class="server__text">Jogadores</p>
			<p class="server__text server__text--highlight">Online</p>
		</div>
	</div>

	<div class="server__info server__info--banned">
		<h5 class="server__title">{{ banned && banned}}</h5>
		<div class="">
			<p class="server__text">Cheaters Banidos</p>
			<p class="server__text server__text--highlight">Nos últimos 7 dias</p>
		</div>
	</div>
</div>
