<main class="container">
	<section class="dashboard">
		<header class="dashboard__header">
			<app-player-profile [profile]="dashboard && dashboard.user"></app-player-profile>

			<app-progress-bar *ngIf="dashboard"
												[expertise]="dashboard.user.expertise"
												[hasLabel]=true></app-progress-bar>

			<app-badges [badges]="dashboard && dashboard.user"></app-badges>
		</header>

		<div class="dashboard__body">
			<app-fun-room [funLobby]="dashboard && dashboard['4fun']"></app-fun-room>

			<ng-container *ngIf="dashboard && dashboard.games">
				<div class="room"
						 *ngFor="let game of dashboard.games">
					<div class="room__header">
						<img [src]="game.image"
								 class="room__icon"
								 alt="Ícone de lobby simbolizando partidas normais"
								 title="Lobby">
						<h3 class="room__title">{{ game.title }}</h3>
					</div>

					<div class="room__matches">
						<div class="match__info">
							<strong class="match__amount match__amount--warning">{{ game.matches }}</strong>
							<p class="match__label">Partidas</p>
						</div>
						<div class="match__info">
							<strong class="match__amount match__amount--success">{{ game.win }}</strong>
							<p class="match__label">Vitórias</p>
						</div>
						<div class="match__info">
							<strong class="match__amount match__amount--danger">{{ game.lose }}</strong>
							<p class="match__label">Derrotas</p>
						</div>
					</div>

					<div class="room__footer">
						<button [ngClass]="{
							'btn--lobby': game.title === 'Lobby',
							'btn--ranked': game.title === 'Ranked Open'
						}" class="btn btn--cta">{{ game.cta.title }}</button>
					</div>
				</div>
			</ng-container>
		</div>

		<footer class="dashboard__footer">
			<button class="btn">Download Gamers Club Anti-Cheat</button>

			<div class="server">
				<div class="server__info server__info--online">
					<h5 class="server__title">{{ dashboard && dashboard.online }}</h5>
					<p class="server__text">Jogadores</p>
					<p class="server__text server__text--highlight">Online</p>
				</div>

				<div class="server__info server__info--banned">
					<h5 class="server__title">{{ dashboard && dashboard.latest_banned }}</h5>
					<p class="server__text">Cheaters Banidos</p>
					<p class="server__text server__text--highlight">Nos últimos 7 dias</p>
				</div>
			</div>
		</footer>
	</section>
</main>
