<main class="container">
	<section class="dashboard">
		<header class="dashboard__header">
			<app-player-profile *ngIf="dashboard"
													[profile]="dashboard.user"></app-player-profile>

			<app-progress-bar *ngIf="dashboard"
												[expertise]="dashboard.user.expertise"
												[hasLabel]=true></app-progress-bar>

			<app-badges [badges]="dashboard && dashboard.user"></app-badges>
		</header>

		<div class="dashboard__body">
			<div class="room room--4fun">
				<div class="room__header">
					<i class="room__icon"></i>
					<h3 class="room__title">Titulo 4fun aqui</h3>
				</div>

				<div class="carrousel">Carrousel aqui</div>
			</div>

			<div class="room room--lobby">
				<div class="room__header">
					<i class="room__icon"></i>
					<h3 class="room__title">Lobby</h3>

					<div class="room__matches">
						<div class="match__info">
							<strong class="match__amount">1234</strong>
							<p class="match__label">Partidas</p>
						</div>
						<div class="match__info">
							<strong class="match__amount">1234</strong>
							<p class="match__label">Vitórias</p>
						</div>
						<div class="match__info">
							<strong class="match__amount">1234</strong>
							<p class="match__label">Derrotas</p>
						</div>
					</div>

					<button class="btn">Ir para lobby</button>
				</div>
			</div>

			<div class="room room--ranked">
				<div class="room__header">
					<i class="room__icon room__icon--ranked"></i>
					<h3 class="room__title">Ranked</h3>
				</div>

				<div class="room__matches">
					<div class="match__info">
						<strong class="match__amount">1234</strong>
						<p class="match__label">Partidas</p>
					</div>
					<div class="match__info">
						<strong class="match__amount">1234</strong>
						<p class="match__label">Vitórias</p>
					</div>
					<div class="match__info">
						<strong class="match__amount">1234</strong>
						<p class="match__label">Derrotas</p>
					</div>
				</div>

				<button class="btn">Entrar na Fila</button>
			</div>
		</div>

		<footer class="dashboard__footer">
			<button class="btn">Download Gamers Club Anti-Cheat</button>

			<div class="server">
				<div class="server__info server__info--online">
					<h5 class="server__title">9532</h5>
					<p class="server__text">Jogadores</p>
					<p class="server__text server__text--highlight">Online</p>
				</div>

				<div class="server__info server__info--banned">
					<h5 class="server__title">123</h5>
					<p class="server__text">Cheaters Banidos</p>
					<p class="server__text server__text--highlight">Nos últimos 7 dias</p>
				</div>
			</div>
		</footer>
	</section>
</main>
