<main class="container">
	<section class="dashboard">
		<header class="dashboard__header">
			<app-player-profile [profile]="dashboard && dashboard.user"></app-player-profile>

			<app-progress-bar *ngIf="dashboard"
												[expertise]="dashboard.user.expertise"
												[hasLabel]=true>
			</app-progress-bar>

			<app-badges [badges]="dashboard && dashboard.user"></app-badges>
		</header>

		<div class="dashboard__body">
			<app-fun-room [funLobby]="dashboard && dashboard['4fun']"></app-fun-room>
			<app-lobbys [games]="dashboard && dashboard.games"></app-lobbys>
		</div>

		<footer class="dashboard__footer">
			<app-button [modifiers]="['download']"
									[text]=" 'Download Gamers Club Anti-Cheat' "
									[iconName]="faDownload"
									(clicked)="navigateTo('externalRedirect', 'https://anticheat.gamersclub.com.br/')">
			</app-button>

			<app-server-info [banned]="dashboard && dashboard.latest_banned"
											 [playersOnline]="dashboard && dashboard.online"></app-server-info>
		</footer>
	</section>
</main>
